/* Định dạng cho phần đầu trang (Navbar) */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.content {
  padding: 20px;
}

.member-form {
  margin-bottom: 20px;
}

.member-form form label, .member-form form input {
  display: block;
  margin-bottom: 10px;
}

.member-form form button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.member-form form button:hover {
  background-color: #0056b3;
}

/* Định dạng cho danh sách thành viên */
.member-list ul {
  list-style: none;
  padding: 0;
}

.member-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.member-list li button {
  background-color: #d9534f;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.member-list li button:hover {
  background-color: #c9302c;
}

/* Định dạng cho phần cuối trang (Footer) */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
}
